{% load staticfiles %}
<html lang="es">
<html>
       <head>
        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/cita.css' %}">
           <title>Pacientes</title>
       </head>
      <body style="display:flex; min-height:100vh; flex-direction:column;">

         <div class="page-header">
           <a href="{% url 'citas.views.cita_nueva' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Cita Nueva</a>
           <a href="{% url 'citas.views.paciente_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Paciente Nuevo</a>
           <a href="{% url 'citas.views.doctor_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Doctor Nuevo</a>
                   <h1><a href="/">Doctor</a></h1>
                        {% if messages %}
                         <ul class="messages">
                             {% for message in messages %}
                             <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                             {% endfor %}
                         </ul>
                         {% endif %}
          </div>
           <div class="content container">
             <div class="row">
               <div class="col-md-8">
                 {% block content %}
                 {% endblock %}
            </div>
           </div>
         </div>
       </body>
   </html>
